{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

 {% if user.is_active %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="single_service">
                <H3>Фильтр:</H3>
                <form method="get">
                    {{ filter.form.as_p }}
                    <input type="Submit" />
                </form>
            </div>
        </div>
    </div>
    {% endif %}

     <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Библиотеки</h3>
                        <p>г.Тюмень</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for library in page_obj %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <a href="{{ library.pk }}">
                             <div>
                                <img src="/media/{{ library.library_img }}" class="mx-auto d-block" style="height: 200px; width: 150;">
                             </div>
                             <div class="service_content text-center">
                                <h3>{{ library.librarys_name }}</h3>
                                <h4>{{ library.librarys_address }}</h4>
                             </div>
                         </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="section_title text-center mb-95">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Слудующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
            {% endif %}
            </div>

        </div>
    </div>

{% include "inc/_footer.html" %}