<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% for book in books %}
        <h1><a>Название книги: </a>{{ book.book_name }}</h1>
            <h1><a>Ииздательство: </a>{{ book.id_publishing_house.publishing_house_name }}</h1>
            <h1><a>Адрес: </a>{{ book.id_publishing_house.adress }}</h1>
            <h1><a>Телефон: </a>{{ book.id_publishing_house.contact_phone }}</h1>
            <h1><a>Почта: </a>{{ book.id_publishing_house.email }}</h1>
            <h1><a>Сайт: </a>{{ book.id_publishing_house.website_linck }}</h1>
            {% for autor in book.author.all %}
                <h1><a>Фамилия: </a>{{ autor.last_name }}</h1>
                <h1><a>Имя: </a>{{ autor.first_name }}</h1>
                <h1><a>Отчество: </a>{{ autor.father_name }}</h1>
                <h1><a>Страна: </a>{{ autor.country }}</h1>
                <h1><a>Дата рождения: </a>{{ autor.birthday }}</h1>
                <h1><a>Языки: </a>{{ autor.languages }}</h1>
            {% endfor %}

        {% empty %}
            <h1>К сожелению не нашлось!</h1>
        {% endfor %}
</body>
</html>